
        <!--           INICIO seguir escuchando-->
   <div class="contenedorDash col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">

     <!-- INICIO HEADER EXPLORAR -->
     <div class="headerExplorer ">
          <div class="btn-group btnTag">
            <button type="button" class="btn btn-default dropdown-toggle dropdownButton"
                    data-toggle="dropdown">
              Todos los tags <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li><button class="btn btn-link">Chile</button></li>
                <li><button class="btn btn-link">Argentina</button></li>
                <li><button class="btn btn-link">Afganistan</button></li>
            </ul>
          </div>
         <div class="btn-group btnUbicacion">
            <button type="button" class="btn btn-default dropdown-toggle dropdownButton"
                    data-toggle="dropdown"> Todos los países<span class="caret"></span>
            </button>


            <ul class="dropdown-menu" role="menu">
                <li><button class="btn btn-link">Chile</button></li>
                <li><button class="btn btn-link">Argentina</button></li>
                <li><button class="btn btn-link">Afganistan</button></li>
            </ul>
          </div>
         <div class="btn-group btnFilter">
            <button type="button" class="btn btn-default dropdown-toggle dropdownButton"
                    data-toggle="dropdown">
              Ordenar por <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li><button class="btn btn-link">Relevancia</button></li>
                <li><button class="btn btn-link">Reproducciones</button></li>
                <li><button class="btn btn-link">Recientes</button></li>


            </ul>
          </div>

      </div>
     <!-- FIN HEADER EXPLORAR -->

 <!--           INICIO populares en mozcu-->
 <div class="row demo">

 <div>
   <a class="pull-right verMas" href="#"><h5>Ver más</h5></a>
   <h4 class="tituloDashboard"><i class="material-icons">trending_up</i>Tendencias</h4>
 </div>

 <div class="col-lg-12 contenedorAlbumsDash">
    <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
       <a href="#"><img src="images/gran.jpg" alt="dorado" class="imgAlbum"></a>
       <h5>La Gran Perdida De Energía</h5>
        <a href="#"><p>La Gran Perdida De Energía</p></a>
    </div>

    <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
       <a href="#"><img src="images/losreyes2.jpg" alt="dorado" class="imgAlbum"></a>
       <h5>La Fiesta De La Forma</h5>
        <a href="#"><p>Los Reyes Del Falsete</p></a>
    </div>

    <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
       <a href="#"><img src="images/valentin.jpg" alt="dorado" class="imgAlbum"></a>
       <h5>Todos Los Sabados Del Mundo</h5>
        <a href="#"><p>Valentin y Los Volcanes</p></a>
    </div>

    <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
       <a href="#"><img src="images/valentin2.JPG" alt="dorado" class="imgAlbum"></a>
       <h5>Play Al Viejo Walkman Blanco</h5>
        <a href="#"><p>Valentin Y Los Volcanes</p></a>
    </div>
    <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
       <a href="#"><img src="images/valentin.jpg" alt="dorado" class="imgAlbum"></a>
       <h5>Todos Los Sabados Del Mundo</h5>
        <a href="#"><p>Valentin y Los Volcanes</p></a>
    </div>

    <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
       <a href="#"><img src="images/valentin2.JPG" alt="dorado" class="imgAlbum"></a>
       <h5>Play Al Viejo Walkman Blanco</h5>
        <a href="#"><p>Valentin Y Los Volcanes</p></a>
    </div>
 </div>



 </div>
 <!--           FIN populares en mozcu -->

 <!--           INICIO lanzamientos en mozcu-->
 <div class="row demo">

 <div>
 <a class="pull-right verMas" href="#"><h5>Ver más</h5></a>
 <h4 class="tituloDashboard"><i class="material-icons">new_releases</i>Lanzamientos</h4>
 </div>
 <div class="col-lg-12 contenedorAlbumsDash">
 <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
     <a href="#"><img src="images/gran.jpg" alt="dorado" class="imgAlbum"></a>
     <h5>La Gran Perdida De Energía</h5>
      <a href="#"><p>La Gran Perdida De Energía</p></a>
  </div>

  <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
     <a href="#"><img src="images/losreyes2.jpg" alt="dorado" class="imgAlbum"></a>
     <h5>La Fiesta De La Forma</h5>
      <a href="#"><p>Los Reyes Del Falsete</p></a>
  </div>

  <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
     <a href="#"><img src="images/valentin.jpg" alt="dorado" class="imgAlbum"></a>
     <h5>Todos Los Sabados Del Mundo</h5>
      <a href="#"><p>Valentin y Los Volcanes</p></a>
  </div>

  <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
     <a href="#"><img src="images/valentin2.JPG" alt="dorado" class="imgAlbum"></a>
     <h5>Play Al Viejo Walkman Blanco</h5>
      <a href="#"><p>Valentin Y Los Volcanes</p></a>
  </div>
  <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
     <a href="#"><img src="images/valentin.jpg" alt="dorado" class="imgAlbum"></a>
     <h5>Todos Los Sabados Del Mundo</h5>
      <a href="#"><p>Valentin y Los Volcanes</p></a>
  </div>

  <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
     <a href="#"><img src="images/valentin2.JPG" alt="dorado" class="imgAlbum"></a>
     <h5>Play Al Viejo Walkman Blanco</h5>
      <a href="#"><p>Valentin Y Los Volcanes</p></a>
  </div>
 </div>


 </div>
 <!--           FIN lanzamientos en mozcu -->


 <!--           INICIO DE DESTACADAS EN TU RED-->
        <div class="row">

          <div>
            <a class="pull-right verMas" href="#"><h5>Ver más</h5></a>
            <h4 class="tituloDashboard"><i class="material-icons">whatshot</i>Álbumes destacados en tu red</h4>
          </div>
            <div class="col-lg-12 contenedorAlbumsDash">

                <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/dorado.jpg" alt="dorado" class="imgAlbum"></a>
                   <h5>Dorado</h5>
                    <a href="#"><p>Como Diamantes Telepáticos</p></a>
                </div>

                <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/viva.jpg" alt="dorado" class="imgAlbum"></a>
                   <h5>Viva Elastico</h5>
                    <a href="#"><p>Viva Elastico</p></a>
                </div>

                <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/losreyes.jpg" alt="dorado" class="imgAlbum"></a>
                   <h5>Dias Nuestros</h5>
                    <a href="#"><p>Los Reyes del Falsete</p></a>
                </div>

                <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/sol.jpg" alt="dorado" class="imgAlbum"></a>
                   <h5>Hasta Siempre.</h5>
                    <a href="#"><p>Sol MArianela</p></a>
                </div>
                <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/valentin.jpg" alt="dorado" class="imgAlbum"></a>
                   <h5>Todos Los Sabados Del Mundo</h5>
                    <a href="#"><p>Valentin y Los Volcanes</p></a>
                </div>

                <div class="album albumDashboard col-xs-6 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/valentin2.JPG" alt="dorado" class="imgAlbum"></a>
                   <h5>Play Al Viejo Walkman Blanco</h5>
                    <a href="#"><p>Valentin Y Los Volcanes</p></a>
                </div>


            </div>



        </div>

 <!--           FIN DE DESTACADAS EN TU RED-->
 <!--           INICIO DE MÁS USUARIOS A LOS QUE SEGUIR-->
        <div class="row">

          <div>
            <a class="pull-right verMas" href="#"><h5>Ver más</h5></a>
            <h4 class="tituloDashboard"><i class="material-icons">people</i>Más usuarios a los que seguir</h4>
          </div>

            <div class="col-lg-12 contenedorUserDash">

                <div class="userDashboard col-xs-4 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/hojas.jpg" alt="dorado" class="img-responsive img-circle"></a>
                    <button type="button" class="btn btn-success btnFollowDash center-block"><i class="material-icons">person_add</i></button>
                    <a href="#"><p class="text-center">Chingolo Records</p></a>

                </div>

                <div class="userDashboard col-xs-4 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/valentin.jpg" alt="dorado" class="img-responsive img-circle"></a>
                    <button type="button" class="btn btn-success btnFollowDash center-block"><i class="material-icons">person_add</i></button>
                    <a href="#"><p class="text-center">Triple RRR Discos</p></a>

                </div>

                <div class="userDashboard col-xs-4 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/viva.jpg" alt="dorado" class="img-responsive img-circle"></a>
                    <button type="button" class="btn btn-success btnFollowDash center-block"><i class="material-icons">person_add</i></button>
                    <a href="#"><p class="text-center">El Mato a un Policia Motorizado</p></a>

                </div>

                <div class="userDashboard col-xs-4 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/sol.jpg" alt="dorado" class="img-responsive img-circle"></a>
                    <button type="button" class="btn btn-success btnFollowDash center-block"><i class="material-icons">person_add</i></button>
                    <a href="#"><p class="text-center">Sol Marianela</p></a>

                </div>

                <div class="userDashboard col-xs-4 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/losreyes.jpg" alt="dorado" class="img-responsive img-circle"></a>
                    <button type="button" class="btn btn-success btnFollowDash center-block"><i class="material-icons">person_add</i></button>
                    <a href="#"><p class="text-center">Los Reyes del Falsete</p></a>

                </div>

                <div class="userDashboard col-xs-4 col-sm-4 col-md-2 col-lg-2">
                   <a href="#"><img src="images/sol.jpg" alt="dorado" class="img-responsive img-circle"></a>
                    <button type="button" class="btn btn-success btnFollowDash center-block"><i class="material-icons">person_add</i></button>
                    <a href="#"><p class="text-center">Sol Marianela</p></a>

                </div>


            </div>


        </div>

 <!--           FIN DE MÁS USUARIOS A LOS QUE SEGUIR-->
 <!--           INICIO DE NO SABES UQE REPRODUCIR?-->
     <div class="row nosabesDash">
         <p class="text-center">¿No sabes qué reproducir?</p>
         <a href="#"><p class="text-center">Dejanos sorprenderte. <i class="material-icons">play_circle_outline</i></p></a>
     </div>
   </div>
