<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10 contenedorDash">

<!--INICIO DE HISTORIAL DE REPRODUCCIÓN-->
    <div class="row perfilContenido">
        <h3>Historial de reproducción</h3>
     </div>
    <div class="row">
        <table class="table table-hover tablaHistorial">
             <tbody>
                 <!--INICIO ELEMENTO TABLA-->
                 <tr>
                     <td class="tdImagen"><img class="imgHistorial" src="images/elmato.jpg" alt="el mato"></td>
                     <td><a href="#">La Dinastia Scorpio</a></br><p class="text-muted"><a href="#" class="text-muted">El Mato a Un Policia Motorizado</a></p></td>

                     <td class="tdFecha"><p class="text-muted pull-right">15/04/2013</p></td>
                 </tr>
                 <!--FIN ELEMENTO TABLA-->
                 <!--INICIO ELEMENTO TABLA-->
                 <tr>
                     <td class="tdImagen"><img class="imgHistorial" src="images/losreyes.jpg" alt="Los reyes"></td>
                     <td><a href="#">Dias Nuestros</a></br><p class="text-muted"><a href="#" class="text-muted">Los Reyes del Falsete</a></p></td>

                     <td class="tdFecha"><p class="text-muted pull-right">16/04/2013</p></td>
                 </tr>
                 <!--FIN ELEMENTO TABLA-->
                 <!--INICIO ELEMENTO TABLA-->
                 <tr>
                     <td class="tdImagen"><img class="imgHistorial" src="images/dorado.jpg" alt="Los reyes"></td>
                     <td><a href="#">Dorado</a></br><p class="text-muted"><a href="#" class="text-muted">Como Diamantes Telepaticos</a></p></td>

                     <td class="tdFecha"><p class="text-muted pull-right">17/04/2013</p></td>
                 </tr>
                 <!--FIN ELEMENTO TABLA-->
                 <!--INICIO ELEMENTO TABLA-->
                 <tr>
                     <td class="tdImagen"><img class="imgHistorial" src="images/viva.jpg" alt="Los reyes"></td>
                     <td><a href="#">Viva Elastico</a></br><p class="text-muted"><a href="#" class="text-muted">Viva Elastico</a></p></td>

                     <td class="tdFecha"><p class="text-muted pull-right">17/04/2013</p></td>
                 </tr>
                 <!--FIN ELEMENTO TABLA-->

            </tbody>
        </table>
    </div>


 </div><!--FIN DE CONTENIDO-->
