<!doctype HTML>
<html ng-app="tiendaDeFruta">
<head>
  <meta charset="utf-8" />
  <title>Probando angular</title>
  <style>
    .fotoOculta{
      z-index: 1000;
    }
    .imagenPerfil{
      width: 80px;
      height: 80px;
    }


  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container-fluid">

    <div class="jumbotron">
      <div ng-controller="controlador1">
        <h1>¡Promoción de mangos!</h1>
        <h2>solo $20 c/u</h2>
        <label>Ingresa la cantidad</label>
        <input type="text" ng-model="cantidad" />
        <h1>Precio final = {{cantidad * precio | currency}}</h1>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-controller="controlador2">
        <label>Diámetro</label>
        <input class="form-control" placeholder="Ingresar diámetro" type="text" ng-model="diametro"/><br />
        <button class="btn btn-primary" ng-click="calcularCircunferencia()">Calcular circunferencia</button>
        {{circunferencia}}


      </div>
      <div class="col-sm-6 col-md-4" ng-controller="controlador3">
        <h1>Compañeros de trabajo</h1>

        <input class="form-control" type="search" placeholder="Buscar compañero" ng-model="busqueda" />
          <ul class="list-group">
            <li ng-repeat="compa in compas | filter: busqueda" class="list-group-item">
              <img class="thumbnail imagenPerfil" src="{{compa.imagen}}" />
              <p>
                {{compa.nombre}}  {{compa.apellido}}
              </p>
            </li>
          </ul>

      </div>

      <div class="col-sm-6 col-md-4" ng-controller="controlador4">
        <h1>Eventos</h1>

        <button ng-dblclick="clicDoble()" class="btn btn-primary">Click doble</button>
        <h3>{{evento}}</h3>



      </div>

      <div class="col-sm-6 col-md-4" ng-controller="controlador5">
        <h1 ng-class="claseEspecial">Cambia de clase</h1>

        <button ng-click="cambiarClases()" class="btn btn-primary">Cambia de clase</button>
        <a href="#" ng-click="borrarClases()">Borrar</a>




      </div>

      <div class="" ng-controller="controlador6">
        <button ng-click="mostrar()" class="btn btn-primary">Mostrar objeto oculto</button>
        <button ng-click="ocultar()" class="btn btn-primary">Ocultar objeto</button>
        <div>
          <img class="fotoOculta" ng-show="visibilidadFoto" ng-src="{{imagenActual}}" >


          <button ng-click="seleccionImagen('http://i.imgur.com/k8aul.gif')">Imagen 1</button>
          <button ng-click="seleccionImagen('http://i.imgur.com/aBmBu7u.gif')">Imagen 2</button>
        </div>

      </div>


    </div>

    <div class="row" ng-controller="formularioFutbol">
      <div class="col-lg-6">
        <h4>Registro de jugadores</h4>
        <div class="alert alert-success" ng-show="" >Bienvenido a Grey Futbol Club</div>
        <div class="alert alert-warning" ng-show="!orden.nombre && formulario.$submitted" >Debes completar todos los campos del formulario</div>
        <div class="alert alert-warning" ng-show="!orden.email && formulario.$submitted" >Debes completar todos los campos del formulario</div>
        <div class="alert alert-warning" ng-show="orden.edad>26" >Mmmm, me parece que sos muy viejo.</div>
        <div class="alert alert-info" ng-show="registroOk">
          <h3>Bievenido {{orden.nombre}}</h3>
          <p>
            Ya eres parte de Grey Fútbol Club.
          </p>
        </div>
        <form id="formulario" name="formulario" ng-submit="registroJugador()" novalidate ng-hide="registroOk">
          <label>Nombre *</label>
          <input type="text" class="form-control" ng-model="orden.nombre" required />
          <label>Email *</label>
          <input type="email" class="form-control" ng-model="orden.email"  />
          <!-- <label>Mensaje *</label>
          <input type="text" class="form-control" ng-model="orden.mensaje" /> -->
          <label>¿Cuántos años tienes? *</label>
          <input type="number" class="form-control" ng-model="orden.edad"/>
        </br>
          <button class="btn btn-primary" type="submit" >Click</button>
        </form>
      </div>
    </br>
    </div>



  </div>


<script>
var miAplicacion = angular.module('tiendaDeFruta', [])
miAplicacion.controller('controlador1',['$scope', function($scope){
  $scope.cantidad = 0;
  $scope.precio = 20;
}])
miAplicacion.controller('controlador2',['$scope', function($scope){
  var pi = 3.14
  $scope.calcularCircunferencia = function(){
    $scope.circunferencia = $scope.diametro * pi
  }
  }])

miAplicacion.controller('controlador3',['$scope', function($scope){
    $scope.compas = [
    {nombre:"Alberto", apellido:"Vazquez", imagen:"http://critterbabies.com/wp-content/gallery/kittens/803864926_1375572583.jpg"},
    {nombre:"Chanchi", apellido:"Martinez", imagen:"http://imgur.com/gallery/4AiXzf8"},
    {nombre:"Gonzalo", apellido:"Palma", imagen:"http://critterbabies.com/wp-content/gallery/kittens/803864926_1375572583.jpg"},
    {nombre:"China", apellido:"Carcagno", imagen:"http://critterbabies.com/wp-content/gallery/kittens/803864926_1375572583.jpg"},
    {nombre:"Diego", apellido:"Lopez", imagen:"http://critterbabies.com/wp-content/gallery/kittens/803864926_1375572583.jpg"},
    {nombre:"Isaac", apellido:"Neto", imagen:"http://critterbabies.com/wp-content/gallery/kittens/803864926_1375572583.jpg"},
    {nombre:"Lucas", apellido:"Unzaga", imagen:"http://critterbabies.com/wp-content/gallery/kittens/803864926_1375572583.jpg"},
    ]


}])

miAplicacion.controller('controlador4',['$scope', function($scope){
  $scope.clicDoble = function(){
    $scope.evento = "Doble"
  }
}])

miAplicacion.controller('controlador5',['$scope', function($scope){
  $scope.cambiarClases = function(){
    $scope.claseEspecial = "text-success"
  }
  $scope.borrarClases = function(){
    $scope.claseEspecial = ""
  }

}])

miAplicacion.controller('controlador6',['$scope', function($scope){
  $scope.visibilidadFoto = false
  $scope.mostrar = function(){
    $scope.visibilidadFoto = true
  }
  $scope.ocultar = function(){
    $scope.visibilidadFoto = false
  }
  $scope.imagenActual = "http://i.imgur.com/k8aul.gif"

  $scope.seleccionImagen = function(_imagen){
    $scope.imagenActual = _imagen
  }
}])

miAplicacion.controller('formularioFutbol', function($scope){
  $scope.registroJugador = function(){
    if($scope.formulario.$valid){
      $scope.registroOk = true;
    }
  }
})





</script>
</body>
</html>
