<div class="p+">
    <div class="card">
        <div class="card__img card__img--top">
            <img src="/images/placeholder/2-horizontal.jpg">
            <span class="fs-headline tc-white-1 display-block">Lorem Ipsum</span>
        </div>

        <div class="p+">
            <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>

            <div class="paragraph fs-body-1">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                </p>
            </div>
        </div>

        <div class="card__actions">
            <lx-button lx-color="black" lx-type="flat">Share</lx-button>
            <lx-button lx-color="orange" lx-type="flat">Learn more</lx-button>
        </div>
    </div>
</div>

<lx-tabs lx-active-tab="vm.activeTab">
    <lx-tab lx-label="Lorem Ipsum 1">
        <p class="p+">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt, eros convallis elementum ornare, nisl eros vestibulum eros, non tincidunt neque ante at turpis. Etiam tincidunt leo nulla, vel iaculis enim rutrum non. Aliquam tempus euismod odio, id tempus mi dapibus et. Nullam ultrices feugiat velit, a suscipit ante mollis ac. Phasellus vulputate scelerisque leo, ac congue erat. Morbi commodo urna nec ligula finibus auctor. Cras sit amet pulvinar nibh, et luctus tellus. Maecenas fermentum suscipit sagittis. Curabitur vel orci in sapien tempus viverra et sit amet ipsum. Suspendisse potenti. Aenean in quam est. Praesent tristique ullamcorper ante, et convallis ipsum aliquet blandit. Nunc viverra iaculis nunc at vehicula. Sed sapien metus, tincidunt non dignissim quis, porttitor eu ipsum. Morbi mattis cursus lectus eu feugiat.

</p>
    </lx-tab>

    <lx-tab lx-label="Lorem Ipsum 2" ng-disabled="vm.tabIsDisabled">
        <p class="p+">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt, eros convallis elementum ornare, nisl eros vestibulum eros, non tincidunt neque ante at turpis. Etiam tincidunt leo nulla, vel iaculis enim rutrum non. Aliquam tempus euismod odio, id tempus mi dapibus et. Nullam ultrices feugiat velit, a suscipit ante mollis ac. Phasellus vulputate scelerisque leo, ac congue erat. Morbi commodo urna nec ligula finibus auctor. Cras sit amet pulvinar nibh, et luctus tellus. Maecenas fermentum suscipit sagittis. Curabitur vel orci in sapien tempus viverra et sit amet ipsum. Suspendisse potenti. Aenean in quam est. Praesent tristique ullamcorper ante, et convallis ipsum aliquet blandit. Nunc viverra iaculis nunc at vehicula. Sed sapien metus, tincidunt non dignissim quis, porttitor eu ipsum. Morbi mattis cursus lectus eu feugiat.

</p>

<p class="p+">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt, eros convallis elementum ornare, nisl eros vestibulum eros, non tincidunt neque ante at turpis. Etiam tincidunt leo nulla, vel iaculis enim rutrum non. Aliquam tempus euismod odio, id tempus mi dapibus et. Nullam ultrices feugiat velit, a suscipit ante mollis ac. Phasellus vulputate scelerisque leo, ac congue erat. Morbi commodo urna nec ligula finibus auctor. Cras sit amet pulvinar nibh, et luctus tellus. Maecenas fermentum suscipit sagittis. Curabitur vel orci in sapien tempus viverra et sit amet ipsum. Suspendisse potenti. Aenean in quam est. Praesent tristique ullamcorper ante, et convallis ipsum aliquet blandit. Nunc viverra iaculis nunc at vehicula. Sed sapien metus, tincidunt non dignissim quis, porttitor eu ipsum. Morbi mattis cursus lectus eu feugiat.

</p>

    </lx-tab>

    <lx-tab lx-label="Lorem Ipsum 3">
      <div flex-item="6">
        

        <div class="divider divider--dark"></div>

        <ul class="list mt++">
            <li class="list-row list-row--has-separator">
                <div class="list-row__primary">
                    <lx-icon lx-id="send" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                </div>

                <div class="list-row__content">
                    <span>Single-line item</span>
                </div>
            </li>
            <li class="list-row list-row--has-separator">
                <div class="list-row__primary">
                    <lx-icon lx-id="pencil" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                </div>

                <div class="list-row__content">
                    <span>Single-line item</span>
                </div>
            </li>
            <li class="list-row list-row--has-separator">
                <div class="list-row__primary">
                    <lx-icon lx-id="bell" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                </div>

                <div class="list-row__content">
                    <span>Single-line item</span>
                </div>
            </li>
        </ul>
    </div>
    </lx-tab>
</lx-tabs>
<div class="divider divider--dark"></div>
