
<div class="col-lg-offset-2">
  <h1 class="text-center acercaTitl">Acerca de Mozcu</h1>
</div>

<div class="col-lg-offset-3 acerca">


<!-- inicio fila 1 -->

  <div class="row">
      <div class="col-md-5 stylish-panel">

          <img src="images/senor.png" alt="Texto Alternativo" class="">
          <h2>La Re-Evolución Musical</h2>
          <p>Mozcu es un entorno de distribución de música libre y sin intermediarios. A través de Mozcu podrás descubrir y difundir a cientos de artistas de tu localidad y el mundo entero.
          </p>


      </div>

      <div class="col-md-5 stylish-panel">

          <img src="images/nina.png" alt="Texto Alternativo" class="">
          <h2>No más intermediarios</h2>
          <p>Puedes optar por una descarga gratuita o asignar un importe, la estimación del material depende de ti. Mozcu no interfiere en las transacciones que se realizan entre oyentes y artistas, por lo tanto el 100% del monto asignado va directamente a los artistas.</p>


      </div>



    </div>
    <!-- fin fila 1 -->

    <!-- inicio Fila 2 -->

    <div class="row">

      <div class="col-md-5 stylish-panel">

          <img src="images/fede_ninovolador.png" alt="Texto Alternativo" class="">
          <h2>Mantener la web libre y respetar tus derechos es nuestra prioridad</h2>
          <p>La concepción de internet como un terreno perfecto para la distribución de conocimiento, requiere también la implementación de instrumentos a su altura. Mozcu es una herramienta que genera un flujo horizontal de contenido, que potencia la diversidad y riqueza humana.</p>


      </div>



        <div class="col-md-5 stylish-panel">

            <img src="images/fede_ninomurcielago.png" alt="Texto Alternativo" class="">
            <h2>Uso de licencias Creative Commons</h2>
            <p>Creemos fundamentalmente en los derechos de autor y en su necesidad en la era digital, pero se han expandido en una forma que básicamente inhiben la creatividad.
          Creative Commons es una herramienta para que los artistas marquen sus obras con las libertades que quieren dar.</p>


        </div>
      </div>

      <!-- fin fila 2 -->

      <!-- inicio Fila 3 -->

      <div class="row">
        <div class="col-md-5 stylish-panel">

            <img src="images/gatito.png" alt="Texto Alternativo" class="">
            <h2>Tu música en la mejor calidad posible</h2>
            <p>En Mozcu no hacemos distinciones entre usuarios “Premium” o “Free”, simplemente nos preocupamos por entregar la música en la mejor calidad posible.</p>


        </div>



          <div class="col-md-5 stylish-panel">

              <img src="images/vampiro.png" alt="Texto Alternativo" class="">
              <h2>Cambiar el futuro</h2>
              <p>Nuestro objetivo es marcar la diferencia. Cuando eliges Mozcu, estás contribuyendo en la construcción de un futuro mejor para Internet y sus usuarios en todo el mundo.</p>


          </div>
        </div>

        <!-- fin fila 3 -->



</div>
